#box{
    margin-top: 10px;
    margin-left: 48px; 
    background-color: black;
    width: 70px;
    height: 5px;
}
#link{
    color: black;
    text-decoration: none;
}
#link:hover{
    color: brown;
}
#Get{
    color: bisque;
    background-color: black;
}